<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome!</h2>
                <hr class="light">
                <p class="text-faded">We believe distributed systems are the hallmark of the modern Internet, and we see peer to peer applications become a normal approach to how users consume, participate and create online. Blockchain applications show the way, they're just scratching the surface of what is possible out there.
                    Delta is meant to be the home of ideas, inventions, specifications and code that helps peer to peer distributed systems see the light of day.
                    We aim to create a foundation of volunteers based on meritocracy. We welcome everyone in helping out and discussing different points of view. Based on your involvement and your patches, we will provide you with committership and eventually membership rights, in a model close to the Apache Software Foundation.
                </p>
                <a href="https://discourse.deltap2p.com" class="btn btn-default btn-xl">Join the conversation!</a>
            </div>
        </div>
    </div>
</section>
